{% extends "index.html" %}

{% block content %}

<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Order Processed</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="#">Home</a></li>
						<li>Order Processed</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>


<!-- Content
================================================== -->

<!-- Container -->
<div class="container">
	<div class="row">
		<div class="col-md-12">

			<div class="booking-confirmation-page">
				<i class="fa fa-check-circle"></i>
				<h2 class="margin-top-30">Thanks for your Order!</h2>
				<p>You'll receive a confirmation email at <a href="#" class="__cf_email__" >test@test.com</a></p>
				<a href="dashboard-invoice.html" class="button margin-top-30">View Invoice</a>
			</div>

		</div>
	</div>
</div>
<!-- Container / End -->

{% endblock %}

{% block addonScripts %}
{% endblock %}