{% extends "index.html" %}

{% block content %}
        <!-- Gradient-->
        <div class="single-listing-page-titlebar"></div>


        <!-- Content
================================================== -->
        <div class="container">
            <div class="row sticky-wrapper">
                <div class="col-lg-8 col-md-8 padding-right-30">

                    <!-- Titlebar -->
                    <div id="titlebar" class="listing-titlebar">
                        <div class="listing-titlebar-title">
                            <h2>Denny's Farm</h2>
                            <span>
						<a href="#listing-location" class="listing-address">
							<i class="fa fa-map-marker"></i>
							Kalloor, Ernakulam
						</a>
					</span>
                            <div class="star-rating" data-rating="5">
                                <div class="rating-counter"><a href="#listing-reviews">(31 reviews)</a></div>
                            </div>
                        </div>
                    </div>

                    <!-- Listing Nav -->
                    <div id="listing-nav" class="listing-nav-container">
                        <ul class="listing-nav">
                            <li><a href="#veg" class="active">Vegitables</a></li>
                            <li><a href="#milk">Milk</a></li>
                            <li><a href="#meat">Meat</a></li>
                            <li><a href="#">Fruits</a></li>
                        </ul>
                    </div>



                    <!-- items -->
                    <div id="veg" class="listing-section">
                        <h3 class="listing-desc-headline margin-top-75 margin-bottom-20"><b>Vegitables</b></h3>
                        <!-- item details -->
                        <div class="rating-overview">
                            <div class="rating-overview-box">
                                <a href="#" class="button border with-icon">Buy <i class="sl sl-icon-basket"></i></a>
                            </div>
                            <div class="rating-bars">
                                <div class="rating-bars-item">
                                    <span class="rating-bars-name">Fresh Potato</span>
                                </div>

                                <div class="rating-bars-item">
                                    <span class="rating-bars-name">INR 100</span>
                                </div>

                            </div>
                        </div>
                        <!-- item details/ End -->
                        <!-- item details -->
                        <div class="rating-overview">
                            <div class="rating-overview-box">
                                <a href="#" class="button border with-icon">Buy <i class="sl sl-icon-basket"></i></a>
                            </div>
                            <div class="rating-bars">
                                <div class="rating-bars-item">
                                    <span class="rating-bars-name">Fresh Potato</span>
                                </div>

                                <div class="rating-bars-item">
                                    <span class="rating-bars-name">INR 100</span>
                                </div>

                            </div>
                        </div>
                        <!-- item details/ End -->
                        <!-- item details -->
                        <div class="rating-overview">
                            <div class="rating-overview-box">
                                <a href="#" class="button border with-icon">Buy <i class="sl sl-icon-basket"></i></a>
                            </div>
                            <div class="rating-bars">
                                <div class="rating-bars-item">
                                    <span class="rating-bars-name">Fresh Potato</span>
                                </div>

                                <div class="rating-bars-item">
                                    <span class="rating-bars-name">INR 100</span>
                                </div>

                            </div>
                        </div>
                        <!-- item details/ End -->

                    </div>
                    <!-- items end -->
                    <!-- items -->
                    <div id="milk" class="listing-section">
                        <h3 class="listing-desc-headline margin-top-75 margin-bottom-20"><b>Milk</b></h3>
                        <!-- item details -->
                        <div class="rating-overview">
                            <div class="rating-overview-box">
                                <a href="#" class="button border with-icon">Buy <i class="sl sl-icon-basket"></i></a>
                            </div>
                            <div class="rating-bars">
                                <div class="rating-bars-item">
                                    <span class="rating-bars-name">Fresh Milk</span>
                                </div>

                                <div class="rating-bars-item">
                                    <span class="rating-bars-name">INR 100</span>
                                </div>

                            </div>
                        </div>
                        <!-- item details/ End -->
                        <!-- item details -->
                        <div class="rating-overview">
                            <div class="rating-overview-box">
                                <a href="#" class="button border with-icon">Buy <i class="sl sl-icon-basket"></i></a>
                            </div>
                            <div class="rating-bars">
                                <div class="rating-bars-item">
                                    <span class="rating-bars-name">Fresh Goat Milk</span>
                                </div>

                                <div class="rating-bars-item">
                                    <span class="rating-bars-name">INR 100</span>
                                </div>

                            </div>
                        </div>
                        <!-- item details/ End -->
                        <!-- item details -->
                        <div class="rating-overview">
                            <div class="rating-overview-box">
                                <a href="#" class="button border with-icon">Buy <i class="sl sl-icon-basket"></i></a>
                            </div>
                            <div class="rating-bars">
                                <div class="rating-bars-item">
                                    <span class="rating-bars-name">Fresh Cow Milk</span>
                                </div>

                                <div class="rating-bars-item">
                                    <span class="rating-bars-name">INR 100</span>
                                </div>

                            </div>
                        </div>
                        <!-- item details/ End -->

                    </div>
                    <!-- items end -->
                    <!-- items -->
                    <div id="meat" class="listing-section">
                        <h3 class="listing-desc-headline margin-top-75 margin-bottom-20"><b>Meat</b></h3>
                        <!-- item details -->
                        <div class="rating-overview">
                            <div class="rating-overview-box">
                                <a href="#" class="button border with-icon">Buy <i class="sl sl-icon-basket"></i></a>
                            </div>
                            <div class="rating-bars">
                                <div class="rating-bars-item">
                                    <span class="rating-bars-name">Fresh Chicken</span>
                                </div>
                                <div class="rating-bars-item">
                                    <span class="rating-bars-name">INR 100</span>
                                </div>
                            </div>
                        </div>
                        <!-- item details/ End -->
                        <!-- item details -->
                        <div class="rating-overview">
                            <div class="rating-overview-box">
                                <a href="#" class="button border with-icon">Buy <i class="sl sl-icon-basket"></i></a>
                            </div>
                            <div class="rating-bars">
                                <div class="rating-bars-item">
                                    <span class="rating-bars-name">Fresh Pork</span>
                                </div>
                                <div class="rating-bars-item">
                                    <span class="rating-bars-name">INR 100</span>
                                </div>
                            </div>
                        </div>
                        <!-- item details/ End -->
                        <!-- items end-->
                        <div class="clearfix"></div>

                        <!-- Pagination -->
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Pagination -->
                                <div class="pagination-container margin-top-30">
                                    <nav class="pagination">
                                        <ul>
                                            <li><a href="#" class="current-page">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#"><i class="sl sl-icon-arrow-right"></i></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <!-- Pagination / End -->
                    </div>

                </div>


                <!-- Sidebar
		================================================== -->
                <div class="col-lg-4 col-md-4 margin-top-75 sticky">


                    <!-- Verified Badge -->
                    <div class="verified-badge with-tip" data-tip-content="Listing has been verified and belongs the business owner or manager.">
                        <i class="sl sl-icon-check"></i> Verified Farmer
                    </div>

                    <!-- Book Now -->
                    <div class="boxed-widget booking-widget opening-hours summary margin-top-35">
                        <h3><i class="fa fa-calendar-check-o "></i>Your Order Form</h3>
                        <div class="row with-forms  margin-top-0">

                            <!-- Panel Dropdown -->
                            <div class="col-lg-12">
                                <a class="total-costs">Total Quantity<span class="qtyTotal" name="qtyTotal">1</span></a>
                                <div>
                                    <ul>
                                        <li>Item<span>Carrot</span></li>
                                        <li>Cost<span>INR 200</span></li>
                                        <li>From<span>Farmer Name</span></li>
                                    </ul>
                                    <div class="qtyButtons">
                                        <div class="qtyTitle">Quantity</div>
                                        <input type="text" name="qtyInput" value="1">
                                    </div>
                                    <ul>
                                        <li class="total-costs"></li>
                                    </ul>
                                    <!-- Quantity Buttons -->
                                    <ul>
                                        <li>Item<span>Carrot</span></li>
                                        <li>Cost<span>INR 100</span></li>
                                        <li>From<span>Farmer Name</span></li>
                                    </ul>
                                    <div class="qtyButtons">
                                        <div class="qtyTitle">Quantity</div>
                                        <input type="text" name="qtyInput" value="1">
                                    </div>
                                    <!-- Quantity Buttons -->
                                    <ul>
                                        <li class="total-costs">Total Cost <span>INR 300.00</span></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Panel Dropdown / End -->

                        </div>

                        <!-- Book Now -->


                        <a href="checkout.html" class="button book-now fullwidth margin-top-5">Checkout</a>

                        <!-- Estimated Cost -->
                        <!-- 				<div class="booking-estimated-cost">
					<strong>Total Cost</strong>
					<span>$49</span>
				</div> -->
                    </div>
                    <!-- Book Now / End -->

                    <!-- Contact -->
                    <div class="boxed-widget margin-top-35">
                        <div class="hosted-by-title">
                            <h4><span>Farmer Details</span> <a href="pages-user-profile.html">Tom Perrin</a></h4>
                            <a href="pages-user-profile.html" class="hosted-by-avatar"><img src="images/dashboard-avatar.jpg" alt=""></a>
                        </div>
                        <ul class="listing-details-sidebar">
                            <li><i class="sl sl-icon-phone"></i> 95 44 28 53 04</li>
                            <!-- <li><i class="sl sl-icon-globe"></i> <a href="#">http://example.com</a></li> -->
                            <li><i class="fa fa-envelope-o"></i> <a href="#"><span class="__cf_email__" >test@test.com</span></a></li>
                        </ul>

                        <ul class="listing-details-sidebar social-profiles">
                            <li><a href="#" class="facebook-profile"><i class="fa fa-facebook-square"></i> Facebook</a></li>
                            <li><a href="#" class="twitter-profile"><i class="fa fa-twitter"></i> Twitter</a></li>
                            <!-- <li><a href="#" class="gplus-profile"><i class="fa fa-google-plus"></i> Google Plus</a></li> -->
                        </ul>

                        <!-- Reply to review popup -->
                        <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                            <div class="small-dialog-header">
                                <h3>Send Message</h3>
                            </div>
                            <div class="message-reply margin-top-0">
                                <textarea cols="40" rows="3" placeholder="Your message to Tom"></textarea>
                                <button class="button">Send Message</button>
                            </div>
                        </div>

                        <a href="#small-dialog" class="send-message-to-owner button popup-with-zoom-anim"><i class="sl sl-icon-envelope-open"></i> Send Message</a>
                    </div>
                    <!-- Contact / End-->


                    <!-- Share / Like -->
                    <div class="listing-share margin-top-40 margin-bottom-40 no-border">
                        <button class="like-button"><span class="like-icon"></span> Bookmark this listing</button>
                        <span>159 people bookmarked this place</span>

                        <!-- Share Buttons -->
                        <ul class="share-buttons margin-top-40 margin-bottom-0">
                            <li><a class="fb-share" href="#"><i class="fa fa-facebook"></i> Share</a></li>
                            <li><a class="twitter-share" href="#"><i class="fa fa-twitter"></i> Tweet</a></li>
                            <li><a class="gplus-share" href="#"><i class="fa fa-instagram"></i> Share</a></li>
                            <!-- <li><a class="pinterest-share" href="#"><i class="fa fa-pinterest-p"></i> Pin</a></li> -->
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                </div>
                <!-- Sidebar / End -->

            </div>
        </div>
{% endblock %}

{% block addonScripts %}

    <!-- Maps -->
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/infobox.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/markerclusterer.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/scripts/maps.js') }}"></script>

    <!-- Booking Widget - Quantity Buttons -->
    <script src="{{ url_for('static', filename='scripts/quantityButtons.js') }}"></script>

    <!-- Date Range Picker - docs: http://www.daterangepicker.com/ -->
    <script src="{{ url_for('static', filename='scripts/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/daterangepicker.js') }}"></script>
    <script>
        // Calendar Init
        $(function() {
            $('#date-picker').daterangepicker({
                "opens": "left",
                // singleDatePicker: true,

                // Disabling Date Ranges
                isInvalidDate: function(date) {
                    // Disabling Date Range
                    var disabled_start = moment('09/02/2018', 'MM/DD/YYYY');
                    var disabled_end = moment('09/06/2018', 'MM/DD/YYYY');
                    return date.isAfter(disabled_start) && date.isBefore(disabled_end);

                    // Disabling Single Day
                    // if (date.format('MM/DD/YYYY') == '08/08/2018') {
                    //     return true; 
                    // }
                }
            });
        });

        // Calendar animation
        $('#date-picker').on('showCalendar.daterangepicker', function(ev, picker) {
            $('.daterangepicker').addClass('calendar-animated');
        });
        $('#date-picker').on('show.daterangepicker', function(ev, picker) {
            $('.daterangepicker').addClass('calendar-visible');
            $('.daterangepicker').removeClass('calendar-hidden');
        });
        $('#date-picker').on('hide.daterangepicker', function(ev, picker) {
            $('.daterangepicker').removeClass('calendar-visible');
            $('.daterangepicker').addClass('calendar-hidden');
        });
    </script>

{% endblock %}
