{% extends "index.html" %}

{% block content %}

        <!-- Content
================================================== -->
        <div class="fs-container">

            <div class="fs-inner-container content">
                <div class="fs-content">

                    <!-- Search -->
                    <section class="search">

                        <div class="row">
                            <div class="col-md-12">

                                <!-- Row With Forms -->
                                <div class="row with-forms">

                                    <!-- Main Search Input -->
                                    <div class="col-fs-6">
                                        <div class="input-with-icon">
                                            <i class="sl sl-icon-magnifier"></i>
                                            <input type="text" placeholder="What are you looking for?" value="" />
                                        </div>
                                    </div>

                                    <!-- Main Search Input -->
                                    <div class="col-fs-6">
                                        <div class="input-with-icon location">

                                            <div id="autocomplete-container">
                                                <input id="autocomplete-input" type="text" placeholder="Location">
                                            </div>
                                            <a href="#"><i class="fa fa-map-marker"></i></a>
                                        </div>
                                    </div>


                                    <!-- Filters -->
                                    <div class="col-fs-12">

                                        <!-- Panel Dropdown / End -->
                                        <div class="panel-dropdown">
                                            <a href="#">Categories</a>
                                            <div class="panel-dropdown-content checkboxes categories">

                                                <!-- Checkboxes -->
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <input id="check-1" type="checkbox" name="check" checked class="all">
                                                        <label for="check-1">All Categories</label>

                                                        <input id="check-2" type="checkbox" name="check">
                                                        <label for="check-2">Farms</label>

                                                        <input id="check-3" type="checkbox" name="check">
                                                        <label for="check-3">Diaries</label>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <input id="check-4" type="checkbox" name="check">
                                                        <label for="check-4">Vegitables</label>

                                                        <input id="check-5" type="checkbox" name="check">
                                                        <label for="check-5">Fruits</label>

                                                        <input id="check-6" type="checkbox" name="check">
                                                        <label for="check-6">Meats</label>
                                                    </div>
                                                </div>

                                                <!-- Buttons -->
                                                <div class="panel-buttons">
                                                    <button class="panel-cancel">Cancel</button>
                                                    <button class="panel-apply">Apply</button>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- Panel Dropdown / End -->

                                        <!-- Panel Dropdown -->
                                        <div class="panel-dropdown wide">
                                            <a href="#">More Filters</a>
                                            <div class="panel-dropdown-content checkboxes">

                                                <!-- Checkboxes -->
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <input id="check-a" type="checkbox" name="check">
                                                        <label for="check-a">Cucumber</label>

                                                        <input id="check-b" type="checkbox" name="check">
                                                        <label for="check-b">Lettuce</label>

                                                        <input id="check-c" type="checkbox" name="check">
                                                        <label for="check-c">Pumpkin</label>

                                                        <input id="check-d" type="checkbox" name="check">
                                                        <label for="check-d">Beetroot</label>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <input id="check-e" type="checkbox" name="check">
                                                        <label for="check-e">Mushrooms</label>

                                                        <input id="check-f" type="checkbox" name="check">
                                                        <label for="check-f">Onion</label>

                                                        <input id="check-g" type="checkbox" name="check">
                                                        <label for="check-g">Potato</label>

                                                        <input id="check-h" type="checkbox" name="check">
                                                        <label for="check-h">Red pepper</label>
                                                    </div>
                                                </div>

                                                <!-- Buttons -->
                                                <div class="panel-buttons">
                                                    <button class="panel-cancel">Cancel</button>
                                                    <button class="panel-apply">Apply</button>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- Panel Dropdown / End -->

                                        <!-- Panel Dropdown -->
                                        <div class="panel-dropdown">
                                            <a href="#">Distance Radius</a>
                                            <div class="panel-dropdown-content">
                                                <input class="distance-radius" type="range" min="1" max="100" step="1" value="50" data-title="Radius around selected destination">
                                                <div class="panel-buttons">
                                                    <button class="panel-cancel">Disable</button>
                                                    <button class="panel-apply">Apply</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Panel Dropdown / End -->

                                    </div>
                                    <!-- Filters / End -->

                                </div>
                                <!-- Row With Forms / End -->

                            </div>
                        </div>

                    </section>
                    <!-- Search / End -->


                    <section class="listings-container margin-top-30">
                        <!-- Sorting / Layout Switcher -->
                        <div class="row fs-switcher">

                            <div class="col-md-6">
                                <!-- Showing Results -->
                                <p class="showing-results">14 Results Found </p>
                            </div>

                        </div>


                        <!-- Listings -->
                        <div class="row fs-listings">

                            <!-- Listing Item -->
                            <div class="col-lg-6 col-md-12">
                                <a href="{{ url_for('item') }}" class="listing-item-container" data-marker-id="1">
                                    <div class="listing-item">
                                        <img src="{{ url_for('static', filename='images/listing-item-01.jpg') }}" alt="">

                                        <div class="listing-badge now-open">Verified</div>

                                        <div class="listing-item-content">
                                            <span class="tag">MILK</span>
                                            <h3>Tom's Cattle Farm <i class="verified-icon"></i></h3>
                                            <span>Chittoor, Palakkad</span>
                                        </div>
                                        <span class="like-icon"></span>
                                    </div>
                                    <div class="star-rating" data-rating="3.5">
                                        <div class="rating-counter">(12 reviews)</div>
                                    </div>
                                </a>
                            </div>
                            <!-- Listing Item / End -->

                            <!-- Listing Item -->
                            <div class="col-lg-6 col-md-12">
                                <a href="{{ url_for('item') }}" class="listing-item-container" data-marker-id="2">
                                    <div class="listing-item">
                                        <img src="{{ url_for('static', filename='images/listing-item-02.jpg') }}" alt="">
                                        <div class="listing-item-content">
                                            <span class="tag">CHICKEN</span>
                                            <h3>Poultry Farm</h3>
                                            <span>Thodupuzha, Ernakulam</span>
                                        </div>
                                        <span class="like-icon"></span>
                                    </div>
                                    <div class="star-rating" data-rating="5.0">
                                        <div class="rating-counter">(23 reviews)</div>
                                    </div>
                                </a>
                            </div>
                            <!-- Listing Item / End -->

                            <!-- Listing Item -->
                            <div class="col-lg-6 col-md-12">
                                <a href="{{ url_for('item') }}" class="listing-item-container" data-marker-id="3">
                                    <div class="listing-item">
                                        <img src="{{ url_for('static', filename='images/listing-item-03.jpg') }}" alt="">

                                        <div class="listing-item-content">
                                            <span class="tag">CARROT</span>
                                            <h3>Farm</h3>
                                            <span>Avoli, Ernakulam</span>
                                        </div>
                                        <span class="like-icon"></span>
                                    </div>
                                    <div class="star-rating" data-rating="2.0">
                                        <div class="rating-counter">(17 reviews)</div>
                                    </div>
                                </a>
                            </div>
                            <!-- Listing Item / End -->

                            <!-- Listing Item -->
                            <div class="col-lg-6 col-md-12">
                                <a href="{{ url_for('item') }}" class="listing-item-container" data-marker-id="4">
                                    <div class="listing-item">
                                        <img src="{{ url_for('static', filename='images/listing-item-04.jpg') }}" alt="">

                                        <div class="listing-badge now-open">Verified</div>

                                        <div class="listing-item-content">
                                            <span class="tag">CUCUMBER</span>
                                            <h3>Denny's Farm<i class="verified-icon"></i></h3>
                                            <span>Kalloor, Ernakulam</span>
                                        </div>
                                        <span class="like-icon"></span>
                                    </div>
                                    <div class="star-rating" data-rating="5.0">
                                        <div class="rating-counter">(31 reviews)</div>
                                    </div>
                                </a>
                            </div>
                            <!-- Listing Item / End -->

                            <!-- Listing Item -->
                            <div class="col-lg-6 col-md-12">
                                <a href="{{ url_for('item') }}" class="listing-item-container" data-marker-id="5">
                                    <div class="listing-item">
                                        <img src="{{ url_for('static', filename='images/listing-item-05.jpg') }}" alt="">
                                        <div class="listing-item-content">
                                            <span class="tag">TOMATO</span>
                                            <h3>Issac's Tomatoes</h3>
                                            <span>Mankulam, Idukki</span>
                                        </div>
                                        <span class="like-icon"></span>
                                    </div>
                                    <div class="star-rating" data-rating="3.5">
                                        <div class="rating-counter">(46 reviews)</div>
                                    </div>
                                </a>
                            </div>
                            <!-- Listing Item / End -->

                            <!-- Listing Item -->
                            <div class="col-lg-6 col-md-12">
                                <a href="{{ url_for('item') }}" class="listing-item-container" data-marker-id="6">
                                    <div class="listing-item">
                                        <img src="{{ url_for('static', filename='images/listing-item-06.jpg') }}" alt="">

                                        <div class="listing-badge now-closed">Not Verified</div>

                                        <div class="listing-item-content">
                                            <span class="tag">PASSION FRUIT</span>
                                            <h3>Passion Park</h3>
                                            <span>Konni, Kollam</span>
                                        </div>
                                        <span class="like-icon"></span>
                                    </div>
                                    <div class="star-rating" data-rating="4.5">
                                        <div class="rating-counter">(15 reviews)</div>
                                    </div>
                                </a>
                            </div>
                            <!-- Listing Item / End -->


                        </div>
                        <!-- Listings Container / End -->


                        <!-- Pagination Container -->
                        <div class="row fs-listings">
                            <div class="col-md-12">

                                <!-- Pagination -->
                                <div class="clearfix"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- Pagination -->
                                        <div class="pagination-container margin-top-15 margin-bottom-40">
                                            <nav class="pagination">
                                                <ul>
                                                    <li><a href="#" class="current-page">1</a></li>
                                                    <li><a href="#">2</a></li>
                                                    <li><a href="#">3</a></li>
                                                    <li><a href="#"><i class="sl sl-icon-arrow-right"></i></a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <!-- Pagination / End -->

                                <!-- Copyrights -->
                                <div class="copyrights">© 2019 FarmNet. All Rights Reserved.</div>

                            </div>
                        </div>
                        <!-- Pagination Container / End -->
                    </section>

                </div>
            </div>
            <div class="fs-inner-container map-fixed">

                <!-- Map -->
                <div id="map-container">
                    <div id="map" data-map-zoom="9" data-map-scroll="true">
                        <!-- map goes here -->
                    </div>
                </div>

            </div>
        </div>


    </div>
    <!-- Wrapper / End -->

    {% endblock %}

    {% block footer %}
    {% endblock %}


    {% block addonScripts %}

    <!-- Google Autocomplete -->
    <script>
        function initAutocomplete() {
            var input = document.getElementById('autocomplete-input');
            var autocomplete = new google.maps.places.Autocomplete(input);

            autocomplete.addListener('place_changed', function() {
                var place = autocomplete.getPlace();
                if (!place.geometry) {
                    window.alert("No details available for input: '" + place.name + "'");
                    return;
                }
            });

            if ($('.main-search-input-item')[0]) {
                setTimeout(function() {
                    $(".pac-container").prependTo("#autocomplete-container");
                }, 300);
            }
        }
    </script>

    <!-- Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDb0gUXJo2Zqe1gVyljSG5FRmNHT1bXIa0&amp;libraries=places&amp;callback=initAutocomplete"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/infobox.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/markerclusterer.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/maps.js') }}"></script>

    {% endblock %}