<!DOCTYPE html>

<head>

    <!-- Basic Page Needs
================================================== -->
    <title>FarmNet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
================================================== -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/main-color.css" id="colors">
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="images/site.webmanifest">
</head>

<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header Container
================================================== -->
        <header id="header-container" class="fixed fullwidth">

            <!-- Header -->
            <div id="header" class="not-sticky">
                <div class="container">

                    <!-- Left Side Content -->
                    <div class="left-side">

                        <!-- Logo -->
                        <div id="logo">
                            <a href="index.html"><img src="images/logo.png" alt=""></a>
                        </div>

                        <!-- Mobile Navigation -->
                        <div class="mmenu-trigger">
                            <button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
                        </div>

                        <!-- Main Navigation -->

                        <div class="clearfix"></div>
                        <!-- Main Navigation / End -->

                    </div>
                    <!-- Left Side Content / End -->

                    <!-- Right Side Content / End -->
                    <div class="right-side">
                        <div>


                            <a href="#sign-in-dialog" class="button border popup-with-zoom-anim"><i class="sl sl-icon-login"></i> Sign In</a>
                            <nav id="navigation" class="style-1">
                                <ul id="responsive">
                                    <li><a href="#">Hi, User</a>
                                        <ul>
                                            <li><a href="dashboard-bookings.html"><i class="fa fa-calendar-check-o"></i> Orders</a></li>
                                            <li><a href="dashboard-my-profile.html"><i class="sl sl-icon-settings"></i> Account</a></li>
                                            <li><a href="index.html"><i class="sl sl-icon-power"></i> Logout</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                            <a href="pages-booking.html" class="button border with-icon">Cart <i class="sl sl-icon-basket"></i></a>
                        </div>
                    </div>
                    <!-- Right Side Content / End -->

                    <!-- Sign In Popup -->
                    <div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">

                        <div class="small-dialog-header">
                            <h3>Sign In</h3>
                        </div>

                        <!--Tabs -->
                        <div class="sign-in-form style-1">

                            <ul class="tabs-nav">
                                <li class=""><a href="#tab1">Log In</a></li>
                                <li><a href="#tab2">Register</a></li>
                            </ul>

                            <div class="tabs-container alt">

                                <!-- Login -->
                                <div class="tab-content" id="tab1" style="display: none;">
                                    <form method="post" class="login">

                                        <p class="form-row form-row-wide">
                                            <label for="username">Username:
										<i class="im im-icon-Male"></i>
										<input type="text" class="input-text" name="username" id="username" value="" />
									</label>
                                        </p>

                                        <p class="form-row form-row-wide">
                                            <label for="password">Password:
										<i class="im im-icon-Lock-2"></i>
										<input class="input-text" type="password" name="password" id="password"/>
									</label>
                                            <span class="lost_password">
										<a href="#" >Lost Your Password?</a>
									</span>
                                        </p>

                                        <div class="form-row">
                                            <input type="submit" class="button border margin-top-5" name="login" value="Login" />
                                            <div class="checkboxes margin-top-10">
                                                <input id="remember-me" type="checkbox" name="check">
                                                <label for="remember-me">Remember Me</label>
                                            </div>
                                        </div>

                                    </form>
                                </div>

                                <!-- Register -->
                                <div class="tab-content" id="tab2" style="display: none;">

                                    <form method="post" class="register">

                                        <p class="form-row form-row-wide">
                                            <label for="username2">Username:
									<i class="im im-icon-Male"></i>
									<input type="text" class="input-text" name="username" id="username2" value="" />
								</label>
                                        </p>

                                        <p class="form-row form-row-wide">
                                            <label for="email2">Email Address:
									<i class="im im-icon-Mail"></i>
									<input type="text" class="input-text" name="email" id="email2" value="" />
								</label>
                                        </p>

                                        <p class="form-row form-row-wide">
                                            <label for="password1">Password:
									<i class="im im-icon-Lock-2"></i>
									<input class="input-text" type="password" name="password1" id="password1"/>
								</label>
                                        </p>

                                        <p class="form-row form-row-wide">
                                            <label for="password2">Repeat Password:
									<i class="im im-icon-Lock-2"></i>
									<input class="input-text" type="password" name="password2" id="password2"/>
								</label>
                                        </p>

                                        <input type="submit" class="button border fw margin-top-10" name="register" value="Register" />

                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Sign In Popup / End -->

                </div>
            </div>
            <!-- Header / End -->

        </header>
        <div class="clearfix"></div>
        <!-- Header Container / End -->


        <!-- Content
================================================== -->
        <div class="fs-container">

            <div class="fs-inner-container content">
                <div class="fs-content">

                    <!-- Search -->
                    <section class="search">

                        <div class="row">
                            <div class="col-md-12">

                                <!-- Row With Forms -->
                                <div class="row with-forms">

                                    <!-- Main Search Input -->
                                    <div class="col-fs-6">
                                        <div class="input-with-icon">
                                            <i class="sl sl-icon-magnifier"></i>
                                            <input type="text" placeholder="What are you looking for?" value="" />
                                        </div>
                                    </div>

                                    <!-- Main Search Input -->
                                    <div class="col-fs-6">
                                        <div class="input-with-icon location">

                                            <div id="autocomplete-container">
                                                <input id="autocomplete-input" type="text" placeholder="Location">
                                            </div>
                                            <a href="#"><i class="fa fa-map-marker"></i></a>
                                        </div>
                                    </div>


                                    <!-- Filters -->
                                    <div class="col-fs-12">

                                        <!-- Panel Dropdown / End -->
                                        <div class="panel-dropdown">
                                            <a href="#">Categories</a>
                                            <div class="panel-dropdown-content checkboxes categories">

                                                <!-- Checkboxes -->
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <input id="check-1" type="checkbox" name="check" checked class="all">
                                                        <label for="check-1">All Categories</label>

                                                        <input id="check-2" type="checkbox" name="check">
                                                        <label for="check-2">Farms</label>

                                                        <input id="check-3" type="checkbox" name="check">
                                                        <label for="check-3">Diaries</label>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <input id="check-4" type="checkbox" name="check">
                                                        <label for="check-4">Vegitables</label>

                                                        <input id="check-5" type="checkbox" name="check">
                                                        <label for="check-5">Fruits</label>

                                                        <input id="check-6" type="checkbox" name="check">
                                                        <label for="check-6">Meats</label>
                                                    </div>
                                                </div>

                                                <!-- Buttons -->
                                                <div class="panel-buttons">
                                                    <button class="panel-cancel">Cancel</button>
                                                    <button class="panel-apply">Apply</button>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- Panel Dropdown / End -->

                                        <!-- Panel Dropdown -->
                                        <div class="panel-dropdown wide">
                                            <a href="#">More Filters</a>
                                            <div class="panel-dropdown-content checkboxes">

                                                <!-- Checkboxes -->
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <input id="check-a" type="checkbox" name="check">
                                                        <label for="check-a">Cucumber</label>

                                                        <input id="check-b" type="checkbox" name="check">
                                                        <label for="check-b">Lettuce</label>

                                                        <input id="check-c" type="checkbox" name="check">
                                                        <label for="check-c">Pumpkin</label>

                                                        <input id="check-d" type="checkbox" name="check">
                                                        <label for="check-d">Beetroot</label>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <input id="check-e" type="checkbox" name="check">
                                                        <label for="check-e">Mushrooms</label>

                                                        <input id="check-f" type="checkbox" name="check">
                                                        <label for="check-f">Onion</label>

                                                        <input id="check-g" type="checkbox" name="check">
                                                        <label for="check-g">Potato</label>

                                                        <input id="check-h" type="checkbox" name="check">
                                                        <label for="check-h">Red pepper</label>
                                                    </div>
                                                </div>

                                                <!-- Buttons -->
                                                <div class="panel-buttons">
                                                    <button class="panel-cancel">Cancel</button>
                                                    <button class="panel-apply">Apply</button>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- Panel Dropdown / End -->

                                        <!-- Panel Dropdown -->
                                        <div class="panel-dropdown">
                                            <a href="#">Distance Radius</a>
                                            <div class="panel-dropdown-content">
                                                <input class="distance-radius" type="range" min="1" max="100" step="1" value="50" data-title="Radius around selected destination">
                                                <div class="panel-buttons">
                                                    <button class="panel-cancel">Disable</button>
                                                    <button class="panel-apply">Apply</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Panel Dropdown / End -->

                                    </div>
                                    <!-- Filters / End -->

                                </div>
                                <!-- Row With Forms / End -->

                            </div>
                        </div>

                    </section>
                    <!-- Search / End -->


                    <section class="listings-container margin-top-30">
                        <!-- Sorting / Layout Switcher -->
                        <div class="row fs-switcher">

                            <div class="col-md-6">
                                <!-- Showing Results -->
                                <p class="showing-results">14 Results Found </p>
                            </div>

                        </div>


                        <!-- Listings -->
                        <div class="row fs-listings">

                            <!-- Listing Item -->
                            <div class="col-lg-6 col-md-12">
                                <a href="item.html" class="listing-item-container" data-marker-id="1">
                                    <div class="listing-item">
                                        <img src="images/listing-item-01.jpg" alt="">

                                        <div class="listing-badge now-open">Verified</div>

                                        <div class="listing-item-content">
                                            <span class="tag">MILK</span>
                                            <h3>Tom's Cattle Farm <i class="verified-icon"></i></h3>
                                            <span>Chittoor, Palakkad</span>
                                        </div>
                                        <span class="like-icon"></span>
                                    </div>
                                    <div class="star-rating" data-rating="3.5">
                                        <div class="rating-counter">(12 reviews)</div>
                                    </div>
                                </a>
                            </div>
                            <!-- Listing Item / End -->

                            <!-- Listing Item -->
                            <div class="col-lg-6 col-md-12">
                                <a href="item.html" class="listing-item-container" data-marker-id="2">
                                    <div class="listing-item">
                                        <img src="images/listing-item-02.jpg" alt="">
                                        <div class="listing-item-content">
                                            <span class="tag">CHICKEN</span>
                                            <h3>Poultry Farm</h3>
                                            <span>Thodupuzha, Ernakulam</span>
                                        </div>
                                        <span class="like-icon"></span>
                                    </div>
                                    <div class="star-rating" data-rating="5.0">
                                        <div class="rating-counter">(23 reviews)</div>
                                    </div>
                                </a>
                            </div>
                            <!-- Listing Item / End -->

                            <!-- Listing Item -->
                            <div class="col-lg-6 col-md-12">
                                <a href="item.html" class="listing-item-container" data-marker-id="3">
                                    <div class="listing-item">
                                        <img src="images/listing-item-03.jpg" alt="">

                                        <div class="listing-item-content">
                                            <span class="tag">CARROT</span>
                                            <h3>Farm</h3>
                                            <span>Avoli, Ernakulam</span>
                                        </div>
                                        <span class="like-icon"></span>
                                    </div>
                                    <div class="star-rating" data-rating="2.0">
                                        <div class="rating-counter">(17 reviews)</div>
                                    </div>
                                </a>
                            </div>
                            <!-- Listing Item / End -->

                            <!-- Listing Item -->
                            <div class="col-lg-6 col-md-12">
                                <a href="item.html" class="listing-item-container" data-marker-id="4">
                                    <div class="listing-item">
                                        <img src="images/listing-item-04.jpg" alt="">

                                        <div class="listing-badge now-open">Verified</div>

                                        <div class="listing-item-content">
                                            <span class="tag">CUCUMBER</span>
                                            <h3>Denny's Farm<i class="verified-icon"></i></h3>
                                            <span>Kalloor, Ernakulam</span>
                                        </div>
                                        <span class="like-icon"></span>
                                    </div>
                                    <div class="star-rating" data-rating="5.0">
                                        <div class="rating-counter">(31 reviews)</div>
                                    </div>
                                </a>
                            </div>
                            <!-- Listing Item / End -->

                            <!-- Listing Item -->
                            <div class="col-lg-6 col-md-12">
                                <a href="item.html" class="listing-item-container" data-marker-id="5">
                                    <div class="listing-item">
                                        <img src="images/listing-item-05.jpg" alt="">
                                        <div class="listing-item-content">
                                            <span class="tag">TOMATO</span>
                                            <h3>Issac's Tomatoes</h3>
                                            <span>Mankulam, Idukki</span>
                                        </div>
                                        <span class="like-icon"></span>
                                    </div>
                                    <div class="star-rating" data-rating="3.5">
                                        <div class="rating-counter">(46 reviews)</div>
                                    </div>
                                </a>
                            </div>
                            <!-- Listing Item / End -->

                            <!-- Listing Item -->
                            <div class="col-lg-6 col-md-12">
                                <a href="item.html" class="listing-item-container" data-marker-id="6">
                                    <div class="listing-item">
                                        <img src="images/listing-item-06.jpg" alt="">

                                        <div class="listing-badge now-closed">Not Verified</div>

                                        <div class="listing-item-content">
                                            <span class="tag">PASSION FRUIT</span>
                                            <h3>Passion Park</h3>
                                            <span>Konni, Kollam</span>
                                        </div>
                                        <span class="like-icon"></span>
                                    </div>
                                    <div class="star-rating" data-rating="4.5">
                                        <div class="rating-counter">(15 reviews)</div>
                                    </div>
                                </a>
                            </div>
                            <!-- Listing Item / End -->


                        </div>
                        <!-- Listings Container / End -->


                        <!-- Pagination Container -->
                        <div class="row fs-listings">
                            <div class="col-md-12">

                                <!-- Pagination -->
                                <div class="clearfix"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- Pagination -->
                                        <div class="pagination-container margin-top-15 margin-bottom-40">
                                            <nav class="pagination">
                                                <ul>
                                                    <li><a href="#" class="current-page">1</a></li>
                                                    <li><a href="#">2</a></li>
                                                    <li><a href="#">3</a></li>
                                                    <li><a href="#"><i class="sl sl-icon-arrow-right"></i></a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <!-- Pagination / End -->

                                <!-- Copyrights -->
                                <div class="copyrights">© 2019 FarmNet. All Rights Reserved.</div>

                            </div>
                        </div>
                        <!-- Pagination Container / End -->
                    </section>

                </div>
            </div>
            <div class="fs-inner-container map-fixed">

                <!-- Map -->
                <div id="map-container">
                    <div id="map" data-map-zoom="9" data-map-scroll="true">
                        <!-- map goes here -->
                    </div>
                </div>

            </div>
        </div>


    </div>
    <!-- Wrapper / End -->


    <!-- Scripts
================================================== -->
    <script type="text/javascript" src="scripts/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="scripts/mmenu.min.js"></script>
    <script type="text/javascript" src="scripts/chosen.min.js"></script>
    <script type="text/javascript" src="scripts/slick.min.js"></script>
    <script type="text/javascript" src="scripts/rangeslider.min.js"></script>
    <script type="text/javascript" src="scripts/magnific-popup.min.js"></script>
    <script type="text/javascript" src="scripts/waypoints.min.js"></script>
    <script type="text/javascript" src="scripts/counterup.min.js"></script>
    <script type="text/javascript" src="scripts/jquery-ui.min.js"></script>
    <script type="text/javascript" src="scripts/tooltips.min.js"></script>
    <script type="text/javascript" src="scripts/custom.js"></script>

    <!-- Google Autocomplete -->
    <script>
        function initAutocomplete() {
            var input = document.getElementById('autocomplete-input');
            var autocomplete = new google.maps.places.Autocomplete(input);

            autocomplete.addListener('place_changed', function() {
                var place = autocomplete.getPlace();
                if (!place.geometry) {
                    window.alert("No details available for input: '" + place.name + "'");
                    return;
                }
            });

            if ($('.main-search-input-item')[0]) {
                setTimeout(function() {
                    $(".pac-container").prependTo("#autocomplete-container");
                }, 300);
            }
        }
    </script>

    <!-- Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDb0gUXJo2Zqe1gVyljSG5FRmNHT1bXIa0&amp;libraries=places&amp;callback=initAutocomplete"></script>
    <script type="text/javascript" src="scripts/infobox.min.js"></script>
    <script type="text/javascript" src="scripts/markerclusterer.js"></script>
    <script type="text/javascript" src="scripts/maps.js"></script>


</body>

</html>