<!DOCTYPE html>
<head>

<!-- Basic Page Needs
================================================== -->
<title>FarmNet</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/main-color.css" id="colors">
<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
<link rel="manifest" href="images/site.webmanifest">
</head>

<body>

<!-- Wrapper -->
<div id="wrapper">

<!-- Header Container
================================================== -->
<header id="header-container">

	<!-- Header -->
	<div id="header">
		<div class="container">
			
			<!-- Left Side Content -->
			<div class="left-side">
				
				<!-- Logo -->
				<div id="logo">
					<a href="index.html"><img src="images/logo.png" alt=""></a>
				</div>

				<!-- Mobile Navigation -->
				<div class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</div>

				<!-- Main Navigation -->
				<div class="clearfix"></div>
				<!-- Main Navigation / End -->
				
			</div>
			<!-- Left Side Content / End -->

				<!-- Right Side Content / End -->
				<div class="right-side">
						<div>	
				
								
								<a href="#sign-in-dialog" class="button border popup-with-zoom-anim"><i class="sl sl-icon-login"></i> Sign In</a>	
								<nav id="navigation" class="style-1">
								<ul id="responsive">
										<li><a href="#">Hi, User</a>
											<ul>
												<li><a href="dashboard-bookings.html"><i class="fa fa-calendar-check-o"></i> Orders</a></li>
												<li><a href="dashboard-my-profile.html"><i class="sl sl-icon-settings"></i> Account</a></li>
												<li><a href="index.html"><i class="sl sl-icon-power"></i> Logout</a></li>
											</ul>
										</li>
								</ul>
								</nav>
						</div>
					</div>
					<!-- Right Side Content / End -->

			<!-- Sign In Popup -->
			<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">

				<div class="small-dialog-header">
					<h3>Sign In</h3>
				</div>

				<!--Tabs -->
				<div class="sign-in-form style-1">

					<ul class="tabs-nav">
						<li class=""><a href="#tab1">Log In</a></li>
						<li><a href="#tab2">Register</a></li>
					</ul>

					<div class="tabs-container alt">

						<!-- Login -->
						<div class="tab-content" id="tab1" style="display: none;">
							<form method="post" class="login">

								<p class="form-row form-row-wide">
									<label for="username">Username:
										<i class="im im-icon-Male"></i>
										<input type="text" class="input-text" name="username" id="username" value="" />
									</label>
								</p>

								<p class="form-row form-row-wide">
									<label for="password">Password:
										<i class="im im-icon-Lock-2"></i>
										<input class="input-text" type="password" name="password" id="password"/>
									</label>
									<span class="lost_password">
										<a href="#" >Lost Your Password?</a>
									</span>
								</p>

								<div class="form-row">
									<input type="submit" class="button border margin-top-5" name="login" value="Login" />
									<div class="checkboxes margin-top-10">
										<input id="remember-me" type="checkbox" name="check">
										<label for="remember-me">Remember Me</label>
									</div>
								</div>
								
							</form>
						</div>

						<!-- Register -->
						<div class="tab-content" id="tab2" style="display: none;">

							<form method="post" class="register">
								
							<p class="form-row form-row-wide">
								<label for="username2">Username:
									<i class="im im-icon-Male"></i>
									<input type="text" class="input-text" name="username" id="username2" value="" />
								</label>
							</p>
								
							<p class="form-row form-row-wide">
								<label for="email2">Email Address:
									<i class="im im-icon-Mail"></i>
									<input type="text" class="input-text" name="email" id="email2" value="" />
								</label>
							</p>

							<p class="form-row form-row-wide">
								<label for="password1">Password:
									<i class="im im-icon-Lock-2"></i>
									<input class="input-text" type="password" name="password1" id="password1"/>
								</label>
							</p>

							<p class="form-row form-row-wide">
								<label for="password2">Repeat Password:
									<i class="im im-icon-Lock-2"></i>
									<input class="input-text" type="password" name="password2" id="password2"/>
								</label>
							</p>

							<input type="submit" class="button border fw margin-top-10" name="register" value="Register" />
	
							</form>
						</div>

					</div>
				</div>
			</div>
			<!-- Sign In Popup / End -->

		</div>
	</div>
	<!-- Header / End -->

</header>
<div class="clearfix"></div>
<!-- Header Container / End -->


<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Checkout</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="#">Home</a></li>
						<li>Checkout</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>


<!-- Content
================================================== -->

<!-- Container -->
<div class="container">
	<div class="row">

		<!-- Content
		================================================== -->
		<div class="col-lg-8 col-md-8 padding-right-30">

			<h3 class="margin-top-0 margin-bottom-30">Personal Details</h3>

			<div class="row">

				<div class="col-md-6">
					<label>First Name</label>
					<input type="text" value="">
				</div>

				<div class="col-md-6">
					<label>Last Name</label>
					<input type="text" value="">
				</div>

				<div class="col-md-6">
					<div class="input-with-icon medium-icons">
						<label>E-Mail Address</label>
						<input type="text" value="">
						<i class="im im-icon-Mail"></i>
					</div>
				</div>

				<div class="col-md-6">
					<div class="input-with-icon medium-icons">
						<label>Phone</label>
						<input type="text" value="">
						<i class="im im-icon-Phone-2"></i>
					</div>
				</div>

			</div>


			<h3 class="margin-top-55 margin-bottom-30">Payment Method</h3>

			<!-- Payment Methods Accordion -->
			<div class="payment">

				<div class="payment-tab payment-tab-active">
					<div class="payment-tab-trigger">
						<input checked id="paypal" name="cardType" type="radio" value="paypal">
						<label for="paypal">Cash on Delivery(COD)</label>
					</div>

					<div class="payment-tab-content">
						<p>FarmNet's Cash on Delivery option allows you to pay order value at the time of delivery.</p>
					</div>
				</div>
			</div>
			<!-- Payment Methods Accordion / End -->
		
			<a href="pages-booking-confirmation.html" class="button booking-confirmation-btn margin-top-40 margin-bottom-65">Confirm Order</a>
		</div>


		<!-- Sidebar
		================================================== -->
		<div class="col-lg-4 col-md-4 margin-top-0 margin-bottom-60">
			<!-- Book Now -->
			<div class="boxed-widget booking-widget  opening-hours summary margin-top-35">
					<h3><i class="fa fa-calendar-check-o "></i>Your Order Form</h3>
					<div class="row with-forms  margin-top-0">

						<!-- Panel Dropdown -->
				
							<div>
									<a class="total-costs">Total Quantity<span class="qtyTotal" name="qtyTotal">1</span></a>
								<div>
											<ul>
												<li>Item<span>Carrot</span></li>
												<li>Cost<span>INR 200</span></li>
												<li>From<span>Farmer Name</span></li>
											</ul>
											<div class="qtyButtons">
													<div class="qtyTitle">Quantity</div>
													<input type="text" name="qtyInput" value="1">
												</div>
											<ul><li class="total-costs"></li></ul>
									<!-- Quantity Buttons -->
									<ul>
											<li>Item<span>Carrot</span></li>
											<li>Cost<span>INR 100</span></li>
											<li>From<span>Farmer Name</span></li>
										</ul>
										<div class="qtyButtons">
												<div class="qtyTitle">Quantity</div>
												<input type="text" name="qtyInput" value="1">
											</div>
									<!-- Quantity Buttons -->
						           <ul><li class="total-costs">Total Cost <span>INR 300.00</span></li></ul>
								</div>
							</div>

						<!-- Panel Dropdown / End -->
	
					</div>
					</div>
					<!-- Book Now -->

		</div>

	</div>
</div>
<!-- Container / End -->



<!-- Footer
================================================== -->
<div id="footer" class="dark">
		<!-- Main -->
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-sm-6">
					<img class="footer-logo" src="images/logo2.png" alt="">
					<br><br>
					<p>We enable farmers to get a better price for their crops by trading it directly to the consumer. Farmers can prove the quality of their products to consumers. The consumers will be able to get fresh crops directly from the genuine farmers. The government can provide Loans and other benefits to genuine farmers without going into the wrong hands.
							</p>
				</div>
	
				<div class="col-md-4 col-sm-6 ">
					<h4>Helpful Links</h4>
					<ul class="footer-links">
						<li><a href="#sign-in-dialog" class="sign-in popup-with-zoom-anim">Sign In</a></li>
						<li><a href="#sign-in-dialog" class="sign-in popup-with-zoom-anim">Register</a></li>
						<li><a href="#" class="sign-in popup-with-zoom-anim">Seller</a></li>
						<li><a href="#" class="sign-in popup-with-zoom-anim">Developer</a></li>
						<li><a href="#" class="sign-in popup-with-zoom-anim">Certificate Authority</a></li>
					</ul>
	
					<ul class="footer-links">
						<li><a href="#">How It Works</a></li>
						<li><a href="#">FarmNet API</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
					<div class="clearfix"></div>
				</div>		
	
				<div class="col-md-3  col-sm-12">
					<h4>Contact Us</h4>
					<div class="text-widget">
						<span>Viswajyothi College of Engineering and Technology</span> <br>
						Phone: <span>95 44 28 53 04</span><br>
						E-Mail:<span> <a href="#"><span class="__cf_email__">test@test.com</span></a> </span><br>
					</div>
	
					<ul class="social-icons margin-top-20">
						<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
						<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
						<li><a class="instagram" href="#"><i class="icon-instagram"></i></a></li>
						<li><a class="youtube" href="#"><i class="icon-youtube"></i></a></li>
					</ul>
	
				</div>
	
			</div>
			
			<!-- Copyright -->
			<div class="row">
				<div class="col-md-12">
					<div class="copyrights">© 2019 FarmNet. All Rights Reserved.</div>
				</div>
			</div>
	
		</div>
	
	</div>
	<!-- Footer / End -->


<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>


</div>
<!-- Wrapper / End -->



<!-- Scripts
================================================== -->
<script type="text/javascript" src="scripts/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="scripts/mmenu.min.js"></script>
<script type="text/javascript" src="scripts/chosen.min.js"></script>
<script type="text/javascript" src="scripts/slick.min.js"></script>
<script type="text/javascript" src="scripts/rangeslider.min.js"></script>
<script type="text/javascript" src="scripts/magnific-popup.min.js"></script>
<script type="text/javascript" src="scripts/waypoints.min.js"></script>
<script type="text/javascript" src="scripts/counterup.min.js"></script>
<script type="text/javascript" src="scripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="scripts/tooltips.min.js"></script>
<script type="text/javascript" src="scripts/custom.js"></script>
<!-- Booking Widget - Quantity Buttons -->
<script src="scripts/quantityButtons.js"></script>
</body>
</html>